<section>
	<% flash.each do |key, value| %>
	<div class="flash <%= key %>"><%= value %></div>
	<% end %>
</section>

<%= form_for @answer do |f| %>
<%= render 'shared/errors', :object => f.object %>
  <div class="answer_label">
		<%= f.text_field :name, :value => "Name" %>
  </div>
	<div class="answer_label">
    <%= f.text_area :content %>
    <%= f.hidden_field :question_id %>
  </div>
  <div class="asdf">
    <%= f.submit "Answer Question" %>
  </div>
<% end %>
